# Pandas 고급 인덱싱

pandas는 numpy 행렬과 같이 comma를 사용한 복수 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서 속성을 제공한다.

* `ix` : 라벨과 숫자를 동시에 지원하는 복수 인덱싱
* `loc` : 라벨 기반의 복수 인덱싱
* `iloc` : 숫자 기반의 복수 인덱싱

## ix 인덱서


* 행(Row)/열(Column) 양쪽에서 라벨 인덱싱, 숫자 인덱싱, 불리언 인덱싱(행만) 동시 가능
 * 단일 숫자 인덱싱 가능
 * 열(column)도 라벨이 아닌 숫자 인덱싱 가능
 * 열(column)도 라벨 슬라이싱(label slicing) 가능

In [13]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9]
}

In [14]:
df = pd.DataFrame(data)
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [15]:
# 순차적 indexing 과 동일
df.ix[1:3, ["state", "pop"]]

    state  pop
1    Ohio  1.7
2    Ohio  3.6
3  Nevada  2.4

In [16]:
df2 = pd.DataFrame(data, 
                   columns=['year', 'state', 'pop'],
                   index=['one', 'two', 'three', 'four', 'five'])
df2

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9

In [19]:
# , 이용
df2.ix[["two", "three"], ["state", "pop"]]

      state  pop
two    Ohio  1.7
three  Ohio  3.6

In [22]:
# column에도 integer 기반 indexing 가능
df2.ix[["two", "three"], :2]

       year state
two    2001  Ohio
three  2002  Ohio

In [23]:
# column에도 Label Slicing 가능
df2.ix[["two", "three"], "state":"pop"]

      state  pop
two    Ohio  1.7
three  Ohio  3.6

In [27]:
# `:` 사용
df2.ix[:, ["state", "pop"]]

        state  pop
one      Ohio  1.5
two      Ohio  1.7
three    Ohio  3.6
four   Nevada  2.4
five   Nevada  2.9

In [26]:
# `:` 사용
df2.ix[["two", "three"], :]

       year state  pop
two    2001  Ohio  1.7
three  2002  Ohio  3.6

### Index Label이 없는 경우의 주의점

* Label이 지정되지 않는 경우에는 integer slicing을 label slicing으로 간주하여 마지막 값을 포함한다

In [29]:
df = pd.DataFrame(np.random.randn(5, 3))
df

          0         1         2
0  0.351226 -0.427538  0.386191
1 -0.128435  0.280855  0.596660
2 -1.576853  0.882292 -0.594743
3 -1.574527 -0.293271  0.229058
4  1.796960 -0.748890  0.262904

In [32]:
df.columns = ["c1", "c2", "c3"]
df.ix[0:2, 1:2]

         c2
0 -0.427538
1  0.280855
2  0.882292

## loc 인덱서

* 라벨 기준 인덱싱

   * 숫자가 오더라도 라벨로 인식한다.
   * 라벨 리스트 가능
   * 라벨 슬라이싱 가능
   * 불리언 배열 가능

## iloc 인덱서

* 숫자 기준 인덱싱

   * 문자열 라벨은 불가
   * 숫자 리스트 가능
   * 숫자 슬라이싱 가능
   * 불리언 배열 가능

In [35]:
np.random.seed(1)
df = pd.DataFrame(np.random.randint(1, 11, size=(4,3)), 
                  columns=["A", "B", "C"], index=["a", "b", "c", "d"])
df

    A  B   C
a   6  9  10
b   6  1   1
c   2  8   7
d  10  3   5

In [37]:
df.ix[["a", "c"], "B":"C"]

   B   C
a  9  10
c  8   7

In [36]:
df.ix[[0, 2], 1:3]

   B   C
a  9  10
c  8   7

In [38]:
df.loc[["a", "c"], "B":"C"]

   B   C
a  9  10
c  8   7

In [39]:
df.loc[2:4, 1:3]

TypeError: cannot do slice indexing on <class 'pandas.indexes.base.Index'> with these indexers [2] of <type 'int'>

In [40]:
df.iloc[2:4, 1:3]

   B  C
c  8  7
d  3  5

In [41]:
df.iloc[["a", "c"], "B":"C"]

TypeError: cannot perform reduce with flexible type